Currated list leet code 30 day challenge Pandas

In [2]:
import pandas as pd

In [8]:
# Day 1 
# Remove all contries that do not meet the requirement of area >= 3000000 or population >= 25000000 
# iterate / apply to all rows this filter
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})
world.head()

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [13]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    df = world.drop(world[(world.area < 3000000) & (world.population < 25000000)].index)
    df = df.filter(["name", "population", "area"], axis=1)
    return df
big_countries(world)

# Accepted solution RT: 410ms 61% MEM: 68mb 90%

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741