In [9]:
#day6
import pandas as pd
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees.apply(lambda row : 0 if (row["employee_id"] % 2 == 0 or row["name"][0] == "M") else row["salary"], axis=1) 
    return employees.filter(["employee_id", "bonus"]).sort_values('employee_id')
    # Accepted 570ms 45% and 66mb 92%

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    # Geenerate a boolean series
    condition = (employees["employee_id"] % 2 != 0) & (employees["name"].str[0] != "M")
    # calculate bonus based on condition
    employees["bonus"] = employees["salary"].where(condition, 0)
    # filter and sort
    result = employees[["employee_id", "bonus"]].sort_values('employee_id').reset_index(drop=True)
    # Accepted 364ms 84% and 67mb 32%
    return result
    # This solution utilizes pandas vectorized oeprations
calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700