In [27]:
#day11
import pandas as pd
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

# Reasoning
# Sort the employee by salary largest to smallest
# Find the first value that is not equal to the first salary | remove duplicates and get the nth salary (keep first indtance)
# returns a generate frame
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    # Creates a non duplicate dataframe of the salary column
    unique_salaries = employee["salary"].drop_duplicates()
    if len(unique_salaries) < 2:
        return pd.DataFrame({'SecondHighestSalary': [None]})
        
    unique_salaries = unique_salaries.sort_values(ascending=False)
    secondHighest = unique_salaries.iloc[1]
    return pd.DataFrame({'SecondHighestSalary': [secondHighest]})
    
# Panda series is a one dimentional labeled array - i.e., single column of dataframe
# Data frame is two dimensional structure labeled

second_highest_salary(employee)

   SecondHighestSalary
0                  200

In [ ]:
"""
SQL version
SELECT (
    SELECT DISTINCT salary
    FROM Employee ORDER BY salary DESC 
    LIMIT 1 OFFSET 1   #Limits to 1 row and skips the first row
) as SecondHighestSalary # Wraps the out and renames the result as second highest salary
"""