In [11]:
#day 16
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts[(accounts["income"] < 20000)])
    mid = len(accounts[((accounts["income"] >= 20000) & (accounts["income"] <= 50000))])
    high = len(accounts[(accounts["income"] > 50000)])
    data = {'category': ['Low Salary', 'Average Salary', 'High Salary'], 'accounts_count':[low, mid, high]}
    return pd.DataFrame(data=data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [4]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})

#Group by data and employee id then process the columns # process the time_spent first to easily add up the column
def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    # Calculate the time spent for each entry
    employees['time_spent'] = employees['out_time'] - employees['in_time']
    
    # Group by emp_id and event_day, then sum the time_spent
    result = employees.groupby(['emp_id', 'event_day'])['time_spent'].sum().reset_index()
    result.rename(columns={'event_day': 'day', 'time_spent': 'total_time'}, inplace=True)
total_time(employees)

   emp_id  event_day  time_spent
0       1 2020-11-28         173
1       1 2020-12-03          41
2       2 2020-11-28          30
3       2 2020-12-09          27

In [18]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})


def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['time_elapsed'] = employees['out_time'] - employees['in_time']
    groups = employees.groupby(['emp_id', 'event_day'])['time_elapsed'].sum()
    result = groups.reset_index() # re indexes the rows instead of groups and make colum emp_id
    result.rename(columns={'event_day': 'day', 'time_elapsed': 'total_time'}, inplace=True)
    return result[['day','emp_id', 'total_time']]
total_time(employees)

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-12-03       1          41
2 2020-11-28       2          30
3 2020-12-09       2          27

In [26]:
#day 18
import pandas as pd
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    # group by player and event date then sort by event_date, then remove duplicates
    df = activity.sort_values('event_date').drop_duplicates('player_id')
    return df.filter(['player_id', 'event_date']).rename(columns={'event_date': 'first_login'})
game_analysis(activity).head()

   player_id first_login
0          1  2016-03-01
3          3  2016-03-02
2          2  2017-06-25