In [11]:
#day 16
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts[(accounts["income"] < 20000)])
    mid = len(accounts[((accounts["income"] >= 20000) & (accounts["income"] <= 50000))])
    high = len(accounts[(accounts["income"] > 50000)])
    data = {'category': ['Low Salary', 'Average Salary', 'High Salary'], 'accounts_count':[low, mid, high]}
    return pd.DataFrame(data=data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3