In [11]:
#day 16
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts[(accounts["income"] < 20000)])
    mid = len(accounts[((accounts["income"] >= 20000) & (accounts["income"] <= 50000))])
    high = len(accounts[(accounts["income"] > 50000)])
    data = {'category': ['Low Salary', 'Average Salary', 'High Salary'], 'accounts_count':[low, mid, high]}
    return pd.DataFrame(data=data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [4]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})

#Group by data and employee id then process the columns # process the time_spent first to easily add up the column
def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    # Calculate the time spent for each entry
    employees['time_spent'] = employees['out_time'] - employees['in_time']
    
    # Group by emp_id and event_day, then sum the time_spent
    result = employees.groupby(['emp_id', 'event_day'])['time_spent'].sum().reset_index()
    result.rename(columns={'event_day': 'day', 'time_spent': 'total_time'}, inplace=True)
total_time(employees)

   emp_id  event_day  time_spent
0       1 2020-11-28         173
1       1 2020-12-03          41
2       2 2020-11-28          30
3       2 2020-12-09          27

In [18]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})


def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['time_elapsed'] = employees['out_time'] - employees['in_time']
    groups = employees.groupby(['emp_id', 'event_day'])['time_elapsed'].sum()
    result = groups.reset_index() # re indexes the rows instead of groups and make colum emp_id
    result.rename(columns={'event_day': 'day', 'time_elapsed': 'total_time'}, inplace=True)
    return result[['day','emp_id', 'total_time']]
total_time(employees)

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-12-03       1          41
2 2020-11-28       2          30
3 2020-12-09       2          27

In [26]:
#day 18
import pandas as pd
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    # group by player and event date then sort by event_date, then remove duplicates
    df = activity.sort_values('event_date').drop_duplicates('player_id')
    return df.filter(['player_id', 'event_date']).rename(columns={'event_date': 'first_login'})
game_analysis(activity).head()

   player_id first_login
0          1  2016-03-01
3          3  2016-03-02
2          2  2017-06-25

In [37]:
import pandas as pd
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype({'student_id':'Int64', 'student_name':'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name':'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'], [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype({'student_id':'Int64', 'subject_name':'object'})
def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    # Step 1: Create all student-subject pairs
    all_pairs = students.merge(subjects, how='cross').sort_values(['student_id', 'subject_name'])
    
    # Step 2: Count attended exams
    exam_counts = examinations.groupby(['student_id', 'subject_name']).size().reset_index(name='attended_exams')
    
    # Step 3: Merge attendance counts with all student-subject pairs
    df = all_pairs.merge(exam_counts, on=['student_id', 'subject_name'], how='left')

    df['attended_exams'] = df['attended_exams'].fillna(0).astype(int)
    return df
    
students_and_examinations(students, subjects, examinations)
# update examinations

    student_id student_name subject_name  attended_exams
0            1        Alice         Math               3
1            1        Alice      Physics               2
2            1        Alice  Programming               1
3            2          Bob         Math               1
4            2          Bob      Physics               0
5            2          Bob  Programming               1
6            6         Alex         Math               0
7            6         Alex      Physics               0
8            6         Alex  Programming               0
9           13         John         Math               1
10          13         John      Physics               1
11          13         John  Programming               1

In [72]:
import pandas as pd
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    # aggregate manager id
    # count find all id's which have more than 5 
    # index into the employeess table with those id's
    manger_reported = employee.groupby('managerId').size().reset_index(name='size')
    high_rank_manager = manger_reported[manger_reported['size'] >= 5]
    df = employee[employee['id'].isin(high_rank_manager['managerId'])]['name']

    # Alternative way to get high ranking managers
    # employee.groupby('managerId', as_index=False).agg(reporting=('id', 'count')).query(' reporting >= 5')['managerId']
    
    return df.reset_index().filter(['name'])

0    101
Name: managerId, dtype: Int64