In [41]:
import pandas as pd
import numpy as np
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    df = activities.groupby('sell_date')['product'].unique().reset_index()
    df['num_sold'] = df['product'].apply(lambda x : x.size)
    df['products'] = df['product'].apply(lambda x : ','.join(sorted([s for s in x])))
    return df = df.drop(columns=['product'])

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask

In [67]:
import pandas as pd
data = [['2020-12-8', 'toyota', 0, 1], ['2020-12-8', 'toyota', 1, 0], ['2020-12-8', 'toyota', 1, 2], ['2020-12-7', 'toyota', 0, 2], ['2020-12-7', 'toyota', 0, 1], ['2020-12-8', 'honda', 1, 2], ['2020-12-8', 'honda', 2, 1], ['2020-12-7', 'honda', 0, 1], ['2020-12-7', 'honda', 1, 2], ['2020-12-7', 'honda', 2, 1]]
daily_sales = pd.DataFrame(data, columns=['date_id', 'make_name', 'lead_id', 'partner_id']).astype({'date_id':'datetime64[ns]', 'make_name':'object', 'lead_id':'Int64', 'partner_id':'Int64'})
def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    grouped = daily_sales.groupby(['date_id', 'make_name']).agg({'lead_id':'nunique', 'partner_id': 'nunique'}) # Use aggregate when we want to count thing in group
    df =  grouped.reset_index() # Reset index creates a new index and 'linearizes' the data
    df.columns = ['date_id', 'make_name', 'unique_leads', 'unique_partners']
    return df
daily_leads_and_partners(daily_sales)

     date_id make_name  unique_leads  unique_partners
0 2020-12-07     honda             3                2
1 2020-12-07    toyota             1                2
2 2020-12-08     honda             2                2
3 2020-12-08    toyota             2                3