In [11]:
#day 16
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts[(accounts["income"] < 20000)])
    mid = len(accounts[((accounts["income"] >= 20000) & (accounts["income"] <= 50000))])
    high = len(accounts[(accounts["income"] > 50000)])
    data = {'category': ['Low Salary', 'Average Salary', 'High Salary'], 'accounts_count':[low, mid, high]}
    return pd.DataFrame(data=data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [3]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})

#Group by data and employee id then process the columns # process the time_spent first to easily add up the column
def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    # Calculate the time spent for each entry
    employees['time_spent'] = employees['out_time'] - employees['in_time']
    
    # Group by emp_id and event_day, then sum the time_spent
    result = employees.groupby(['emp_id', 'event_day'])['time_spent']
    print(result)
    result.rename(columns={'event_day': 'day', 'time_spent': 'total_time'}, inplace=True)
total_time(employees)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001F967355B70>

AttributeError: 'SeriesGroupBy' object has no attribute 'rename'