In [9]:
#day6
import pandas as pd
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees.apply(lambda row : 0 if (row["employee_id"] % 2 == 0 or row["name"][0] == "M") else row["salary"], axis=1) 
    return employees.filter(["employee_id", "bonus"]).sort_values('employee_id')
    # Accepted 570ms 45% and 66mb 92%

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    # Geenerate a boolean series
    condition = (employees["employee_id"] % 2 != 0) & (employees["name"].str[0] != "M")
    # calculate bonus based on condition
    employees["bonus"] = employees["salary"].where(condition, 0)
    # filter and sort
    result = employees[["employee_id", "bonus"]].sort_values('employee_id').reset_index(drop=True)
    # Accepted 364ms 84% and 67mb 32%
    return result
    # This solution utilizes pandas vectorized oeprations
calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700

In [32]:
#day7
import pandas as pd
def capital_first(s):
    return s[0].upper() + s[1:].lower()
    
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].apply(capital_first)  # This format we apply specifically onto the name
    return users.sort_values("user_id")
    
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

In [46]:
#day8
import pandas as pd
import re
data = [[1, 'Winston', 'winston@x.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@x.com'], [4, 'Sally', 'sally.come@x.com'], [5, 'Marwan', 'quarz#2020@x.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@x.com']]
users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

def valid_prefix(s):
    pattern = r"^[a-zA-Z0-9_.-]+$"
    # valid means upper and lower case letter digits, _ . - and must start with a letter
    parts = s.split('@')
    if len(parts) != 2:
        return False
        
    prefix, suffix = parts
    if len(prefix) == 0 or suffix != "x.com" or not re.match(r"[a-zA-Z]", prefix[0]):
        return False
    
    if not re.match(pattern, prefix):
        return False
        
    return True
    
def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    # Use where to get a boolean series then index into using that series to get the rows. Complex == use apply
    valid_emails = users["mail"].apply(valid_prefix)
    return users[valid_emails]

valid_emails(users)
# Accepted

   user_id       name              mail
0        1    Winston     winston@x.com
2        3  Annabelle      bella-@x.com
3        4      Sally  sally.come@x.com

In [44]:
"@abc".split('@')

['', 'abc']

In [55]:
#day9
import pandas as pd
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

# SQL:
"""
SELECT patient_id, patient_name, conditions 
FROM patients
WHERE conditions like "DIAB1%" OR conditions like "% DIAB1%";
"""
def has_diabetes(conditions):
    pattern = r"^DIAB1"
    cond = conditions.split(' ')
    for c in cond:
        if re.match(pattern, c):
            return True
    return False
    
def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    diab =  patients["conditions"].apply(has_diabetes)
    # Altnerative  patients_with_diabetes = patients[patients['conditions'].str.contains(r'\bDIAB1')]
    # \b indicates only match if it apeats as a serpeate word or word boundary
    return patients[diab]
#Accepted
find_patients(patients)

0    False
1    False
2     True
3     True
4    False
Name: conditions, dtype: bool

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100